a{
    text-decoration: none;
    color: inherit;
}
.addPopup, .managePanel{
    display:none;
}

/*================================================Files==================================================0*/
.fileItem{
    border: 2px solid rgba(47,47,47,0.5);
    border-radius: 4px;
    height: 6em;
    width: 8em;
    background-color: white;
    display: inline-flex;
    margin: 1em 1em;
    overflow: hidden;
    padding: 0.3em;
    cursor: pointer;  
    transition-duration:0.5s;  
    box-shadow: 0px 0px 10px rgba(47, 47, 47, 0.3);
    background-image: url("/resources/icons/pdf.png");
    background-repeat: no-repeat;
    background-size: 5.5em 4em;
    background-position: bottom;
}
.fileItemActive{
    border: 2px solid rgba(0, 38, 255, 0.8);
}
.fileItem:hover, .fileItemActive{
    transition-duration: 0.5s;
    border-color: rgba(0, 38, 255, 0.7);
}
.fileItem label{    
    height: 100%;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
}
.fileItem img{
    display: block;
    position: relative;
    top: 2.5em;
    right: 2em;
    width: 3em;
    height: 3em;
}
.filesContainer{
    padding: 2em;
    height: 70%;
    width: 80%;
    overflow-y: scroll;
}
/*=============================================================================================================0*/

.addButton{
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 4em;
    top: 85%;
}
.addButton button{
    
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-weight: bolder;
    font-size: 1.5em;
    padding: 0;
    overflow: hidden;
    border: none;
    user-select: none;
    box-shadow: 0px 0px 10px rgba(47, 47, 47, 1);
    background-color: blue;
    border-radius: 50%;
}

.managePanel{
    position: absolute;
    right: 1em;
    top: 10%;
    text-align: center;
    width: 10em;
    overflow: hidden;
    justify-content: center;
}
.managePanel form{
    margin: 0;
}
.managePanel input[type]{
    display: block;
    width: 80%;
    margin: 0.3em auto;
    height: 2.3em;
    border: 2px solid rgba(0, 38, 255, 0.8);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.5);
}

.managePanelTitle{
    overflow-wrap: break-word;
    height: 4em;
}

/*=============================================popup===================================*/
.addPopup{
    position: absolute;  
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
}
.addPopup .closeButton{
    display: flex;
    position: absolute;
    color: white;
    font-size:2em;
    cursor:pointer;
    right: 1em;
}
.addPopup form{
    position: absolute;
    width: 30em;
    height: fit-content;
    padding: 1em;
    top: 30%;
    left: 30%;
    border-radius: 4px;
    box-shadow: 0px 0px 5px rgba(47, 47, 47, 0.5);
    background-color: white; 
}
.addPopup form input[type]{
    margin-bottom: 1em;
}
.addPopup form input[type=file],
.addPopup form input[type=submit]{
    display: block;
}
.addPopup form i{
    display: block;
    color: white;
    font-size: 1.5em;
    box-shadow: 0px 0px 10px rgba(47, 47, 47, 1);
    border-radius: 4px;
    background-color: blue;
    padding: 0.5em;
    height: fit-content;
    margin: 0 auto;
    width: fit-content;
    cursor: pointer;
    transition-duration: 0.5s;
}
.addPopup form i:hover{
    box-shadow: 0px 0px 10px rgb(47, 47, 0);
    font-size: 1.8em;
    transition-duration: 0.5s;
}
.addPopup .layout{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.addPopup .layout form input[type=file]{   
    display: none;
}
.addLabel{
    display: inline-block;
    width: 90%;
    padding: 12px 18px;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    transition-duration: 0.8s;
}
.addLabel:hover{
    border: 2px solid white;
    background-color: blue;
    color: white;
    transition-duration: 0.8s;
}

.filesToUpload{
    width: 100%;
    text-align: center;
    color: gray;
    font-size: 1.3em;
    display: block;

}
